<title><%= titulo %></title>
<%- include('01-HEAD'); %> 

<body onload="">
	<%- include('02-HEADER-3'); %> 

		<!-- **************************** CUERPO ************************************************ -->
		<!-- **************************** CUERPO ************************************************ -->
		<!-- **************************** CUERPO ************************************************ -->
		<div class="contenedor1">
				<h1>Bienvenido!!</h1><h3>&nbsp</h3><h1 style="color:blue"><%= user %>&nbsp</h1><h1>Has iniciado sesión con éxito!!</h1><br>
	</div>
	<%- include('03-FOOTER'); %> 
</body>
</html>


