<title><%= titulo %></title>
<%- include('01-HEAD2'); %> 

<body onload="document.getElementById('nombre').select();">
	<%- include('02-HEADER-modificacion'); %> 

	<div class="contenedor1">
	<div id="cajapagina" class="contenedor2">
				<!-- este formulario apunta a una ruta del servidor-->
				<!-- /modificacion2 pero con el método POST-->
					
				<div class="contenedor-formulario">
				<form id="formulario1" action="/modificacion2" method="post" autocomplete="off" enctype="multipart/form-data"> 
				<legend class="leyenda">Modificacion Cliente: </legend><br>		
						<div class="form-group">
							<label>Id Cliente:</label>
							<input class="input-control" id="id" name="id" readonly value="<%= datos[0].id %>" style="width: 15%">
						</div>

						<div class="form-group">
							<label>Nombre:</label>
							<input class="input-control" id="nombre" name="nombre" maxlength="15" style="width:60%" required autocomplete="off" value="<%= datos[0].nombre %>">
						</div>
						
						<div class="form-group">
							<label style="margin-right:3px">Provincia:</label>
							<select id="provincia" name="provincia" required style="CURSOR:pointer;width:45%;height:31px;margin-bottom:5px">
									<option selected hidden><%= datos[0].provincia %></option>
									<option value="ALBACETE">ALBACETE</option>
									<option value="CIUDAD REAL">CIUDAD REAL</option>
									<option value="CUENCA">CUENCA</option>
									<option value="GUADALAJARA">GUADALAJARA</option>
									<option value="TOLEDO">TOLEDO</option>                     
							</select> 		
						</div>					
						
						<div class="form-group">
							<label>Edad:</label>
							<input class="input-control" type="number" id="edad" name="edad" style="width: 20%" required
							maxlength="3" min="1" max="150" autocomplete="off" value="<%= datos[0].edad %>">
						</div>					
						
						<div class="form-group">
							<label>Fecha Alta:</label>
							<input class="input-control" type="date" id="fecha" name="fecha" required 
							value="<%=datos[0].fecha.getFullYear()+'-'+("0"+(datos[0].fecha.getMonth()+1)).slice(-2)+'-'+("0"+(datos[0].fecha.getDate())).slice(-2)  %>"
							style="width:50%;cursor:pointer">
						</div>	
						
						<img id="img1" src="data:image/jpeg;base64,<%= imagenbd %>" width="80" height="80" style="border:1px solid blue" >
						
                        <div class="form-group">
                            <label>Imagen:</label>
                            <input class="input-control" id="foto1" name="foto1" type="file"  
                            style="padding-bottom: 10px;border:0px;" onchange="visualizo('foto1','img1')"></input>
                        </div>
						
						<button class="boton" id="boton2" type="submit" form="formulario1"
						onclick="">
						<i class="fa fa-home"></i> Modificar
						</button>

						<button class="boton" id="boton3" type="button"
						onclick="location.href=('/modificacion');">
						<i class="fas fa-window-close"></i> Volver
						</button>
				</form>
				</div>
	</div>
	</div>
	<%- include('03-FOOTER'); %> 
</body>
</html>

<!-- ***************************************************************-->
<!-- este código se ejecuta después de cargar la vista -->
<!-- ***************************************************************-->
<script type="text/javascript">
	document.getElementById('nombre').focus();
	function visualizo(objeto,pongo)
	{
		var seleccionArchivos =document.getElementById(objeto);
		var archivos=seleccionArchivos.files;
		var imagenPrevisualizacion = document.getElementById(pongo);

		if (!archivos.length)
		{
			imagenPrevisualizacion.src="imagenes/usuario.png";
			return;
		}

		// ahora tomamos el primer archivo, el cual vamos a previsualizar
		var primerArchivo = archivos[0];
		// lo convertimos a un objeto de tipo objectURL
		var objectURL = URL.createObjectURL(primerArchivo);
		// y a la fuente de la imagen le ponemos el objectURL
		imagenPrevisualizacion.src = objectURL; 
	}   
	//**********************************************************************************
	//**********************************************************************************
	// para quitar la imagen del usuario si necesito quitarla
	function borroimagen(objeto)
	{
		document.getElementById(objeto).src="imagenes/usuario.png";
	}
	//**********************************************************************************
</script>